
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma;
}

body {
    background: #f4f6f9;
}

header {
    background: #0d6efd;
    padding: 20px;
    color: white;
    text-align: center;
}

nav {
    margin-top: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    color: yellow;
}

section {
    padding: 30px;
}

.hero {
    text-align: center;
    padding: 50px;
}

button {
    background: #0d6efd;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #084298;
}

.card {
    background: white;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h2 {
    margin-bottom: 20px;
}

footer {
    background: #0d6efd;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

.form-box {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.contact-icons {
    text-align: center;
    margin-top: 20px;
}

.contact-icons a {
    font-size: 35px;
    text-decoration: none;
    margin: 10px;
}

.contact-icons p {
    margin-top: 10px;
    font-weight: bold;
}
